# macOS
.DS_Store
.AppleDouble
.LSOverride

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/Flutter/Generated.xcconfig
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/key.properties

# Node
/backend/node_modules
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
.pnp
.pnp.js

# Наши папки
/backend/tracks-to-upload/